<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '店名：' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label '住所：' %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label '電話番号：' %><br>
    <%= f.telephone_field :tel %>
  </div>
  <div class="field">
    <%= f.label 'ホームページ' %><br>
    <%= f.url_field :url %>
  </div>
  <div class="actions">
    <%= f.submit '登録する', class: "btn btn-default" %>
  </div>
<% end %>
