<p id="notice"><%= notice %></p>
<h3><%= @shop.name %>　　<span><%= @review.average(:rate) %></span></h3>
<table class="table table-striped">
  <tbody>
    <tr>
      <th>住所：</th><td><%= @shop.address %></td>
    </tr>
    <tr>
      <th>Tel：</th><td><%= @shop.tel %></td>
    </tr>
    <tr>
      <th>ホームページ：</th><td><%= @shop.url %></td>
    </tr>
  </tbody>
</table>
<div><%= link_to '編集する', edit_shop_path(@shop), class: "btn btn-default" %>　<%= link_to 'TOPに戻る', shops_path, class: "btn btn-default" %></div><br/>
<hr/>
<div>
  <%= link_to 'コメントする', new_shop_review_path(@shop), class: "btn btn-default" %>
</div>
<hr/>
<table class="table table-striped">
  <tbody>
<% @review.each do |review| %>
    <tr>
      <td><%= image_tag review.user.img_url, width: "50px" %><br/><%= review.user.name %>さんのコメント</td>
      <td><% star = review.rate.to_i %>
<% star.times do %>★<% end %></td>
      <td><%= review.comment %></td>
    </tr>
<% end %>
  </tbody>
</table>
