<%= form_for [@shop, @review] do |f| %>
<div class="form-group">
  <%= f.label :comment, 'コメント：' %>
  <%= f.text_area :comment, class: "form-control" %>
</div>
<div>
  <%= f.label :rate, '評価点' %>
  <%= f.select :rate, {"★☆☆☆☆" => 1, "★★☆☆☆" => 2, "★★★☆☆" => 3, "★★★★☆" => 4, "★★★★★" => 5}, include_blank: true %>
</div>
<% f.hidden_field :shop_id %>
<% f.hidden_field :user_id %>
<div>
  <%= f.submit 'コメントを登録' %>
</div>
<% end %>
