<h3><%= @shop.name %></h3>
<table class="table table-striped">
  <tbody>
    <tr>
      <th>住所：</th><td><%= @shop.address %></td>
    </tr>
    <tr>
      <th>Tel：</th><td><%= @shop.tel %></td>
    </tr>
    <tr>
      <th>ホームページ：</th><td><%= @shop.url %></td>
    </tr>
  </tbody>
</table>
<hr/>
<div>
<%= render 'form' %>
</div>
